body {
font-family:"Inter UI","Helvetica Neue",Helvetica,Arial,Arimo,"Liberation Sans",sans-serif;
line-height:1;
background-color:#000;
color:#fff;
margin:0;
}

div p{margin-top:20px;margin-bottom:20px}

/* Typeface and Font Settings */
.we-100 {font-weight:100}
.we-100 {font-weight:100}
.we-300 {font-weight:300}
.we-600 {font-weight:400}
.we-500 {font-weight:500}
.we-600 {font-weight:600}
.we-700 {font-weight:700}
.we-800 {font-weight:800}
.we-900 {font-weight:900}

/* Colors */
.blue-1 {color:#80FFE3}
.blue-2 {color:#7FDBFF}
.green-1 {color:#9BFF80}
.green-2 {color:#80FFA4}
.red-1 {color:#FFA480}
.red-2 {color:#FF809B}

/* Flexbox */
.flex {display:flex;flex-wrap:wrap;justify-content:center}
.flex div {height:auto}
.wi-5 {width:5%}
.wi-10 {width:10%}
.wi-15 {width:15%}
.wi-20 {width:20%}
.wi-25 {width:25%}
.wi-30 {width:30%}
.wi-33 {width:33%}
.wi-35 {width:35%}
.wi-40 {width:40%}
.wi-45 {width:45%}
.wi-50 {width:50%}
.wi-55 {width:55%}
.wi-60 {width:60%}
.wi-65 {width:65%}
.wi-66 {width:66%}
.wi-70 {width:70%}
.wi-75 {width:75%}
.wi-80 {width:80%}
.wi-90 {width:90%}
.wi-100 {width:100%}

#currenttime {
font-family:DSEG7ClassicMini,"Clear Sans","Helvetica Neue",Helvetica,Arial,Arimo,"Liberation Sans",sans-serif;
font-style:italic;
font-weight:700;
margin-top:10px;
margin-left:0;
margin-right:0;
margin-bottom:10px;
}

p {
font-size:24pt;
}

#header {
display:flex;
position:sticky;
z-index: 99;
top:0;
height:auto;
padding-left:10px;
padding-right:10px;
font-size:30pt;
background-color:rgba(0,0,0,0.75);
justify-content:space-between;
}

#header div.left, #header div.right {
width:30%;
}

#header div.middle {
width:40%;
}

#footer p{
font-size:18pt;
}

.left {
text-align:left;
}

.middle {
text-align:center;
}

.right {
text-align:right;
}

.btn {
font-size:16pt;
font-weight: 500;
text-decoration: none;
text-transform: none;
border: solid 1px #FFFFFF;
padding-top:5px;
padding-bottom:5px;
padding-left:15px;
padding-right:15px;
border-radius:10px;
}
