/* Typeface and Font Settings */
.dseg7 {
  font-family:DSEG7Classic,"Helvetica Neue",Helvetica,Arial,Arimo,"Liberation Sans",sans-serif;
  font-style:italic;
}
.dseg7m {
  font-family:DSEG7ClassicMini,"Helvetica Neue",Helvetica,Arial,Arimo,"Liberation Sans",sans-serif;
  font-style:italic;
}
.s-30{font-size:30pt}
.s-36{font-size:36pt}
.s-48{font-size:48pt}
.s-72{font-size:72pt}

#scorebody {
text-transform:uppercase;
}

select {
  font-size:24pt;
  font-family:inherit;
  font-weight:700;
  text-align:inherit;
  background-color:inherit;
  color:inherit;
  border: solid 0;
  -moz-appearance:none;
  -webkit-appearance:none;
}

select::-ms-expand {
  display: none;
}

.bold {
  font-weight: 800;
}
