/* Inter UI */
@import url('https://rsms.me/inter/inter-ui.css');

/* Webfont: DSEG7Classic */

/* Webfont: DSEG7Classic-Bold */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Bold.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7Classic-BoldItalic */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7Classic-Italic */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Italic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7Classic-Light */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-Light.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Light.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7Classic-LightItalic */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7Classic-Regular */@font-face {
    font-family: 'DSEG7Classic';
    src: url('dseg7classic/DSEG7Classic-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Regular.woff') format('woff'), /* Modern Browsers */
         url('dseg7classic/DSEG7Classic-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini */

/* Webfont: DSEG7ClassicMini-Bold */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Bold.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini-BoldItalic */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini-Italic */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Italic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini-Light */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-Light.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Light.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini-LightItalic */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: DSEG7ClassicMini-Regular */@font-face {
    font-family: 'DSEG7ClassicMini';
    src: url('dseg7classicmini/DSEG7ClassicMini-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Regular.woff') format('woff'), /* Modern Browsers */
         url('dseg7classicmini/DSEG7ClassicMini-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
